{% extends "base.html" %}

{% block content %}

  <form action="/find/" method="post"> {% csrf_token %}
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

    <ul>
      {% for location in found_locations %}
        <li>
          <form action="/add/" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" id="id_name" value="{{ location.name }}">
            <input type="hidden" name="country_code" id="id_country_code" value="{{ location.country }}">
            <input type="hidden" name="latitude" id="id_latitude" value="{{ location.lat }}">
            <input type="hidden" name="longitude" id="id_longitude" value="{{ location.lon }}">
            {{ location.name }} - {{ location.country }}
            <input type="submit" value="+">
          </form>
        </li>
      {% endfor %}
    </ul>

  <table>
  <thead>
  <tr>
    <td>
    </td>
    <td>
    </td>
    {%  for date in dates %}
    <td>
      {{ date|date:"D j M" }}
    </td>
    {%  endfor %}
  </tr>
  </thead>
  <tbody>
  {% for location in saved_locations %}
  <tr>
    <td>
      {{  location.name }}
    </td>
    <td>
      {{ location.country }}
    </td>
    {% for day in location.weather %}
    <td>
      {{ day.day_temp }}
{#      -#}
{#      {{ day.min_temp }}#}
{#      {{ day.humidity }}#}
      -
      {{ day.conditions }}
{#      {{ day.icon }}#}
    </td>
      {% endfor %}
  </tr>
  {%  endfor %}
  </tbody>
  </table>
{% endblock %}
